<% include ../partials/header-auth.ejs %>
<div class="col-md-6 col-md-offset-3 col-xs-12">
  <h1 class="signup-titles">what do you speak?</h1>
  <hr>
  <form method="post" class="form" action="/auth/signup/1">
  <input type="text" class="form-control" id="checkfilter" placeholder="search for a language">
  <hr class="hr-divider">
  <fieldset class="language-select">
  <% languageArr.forEach(function(item){ %>
   <label for="language-check" class="language-name"><input class="language-check" type="checkbox" name="language" value="<%=item%>"> <%=item%></label>
  <% }) %>
  </fieldset>
    <div class="btn-div">
    <input class="btn btn-default language-submit-btn" type="submit" value="Submit now">
    </div>
  </form>
</div>
<% include ../partials/footer.ejs %>