<% include ../partials/header-logged.ejs %>

  <div class="row">
    <div class="col-md-6">
      <h1>create your profile</h1>
      <hr>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="form-group">
    <form enctype="multipart/form-data" id="update" class="form profile-update" method="post" action="/profile/create">
      <div class="col-md-6">
        <label for="picture">upload a profile picture</label>
        <input type="file" class="form-control" placeholder="upload a profile picture!" name="picture">
        <hr>
        <label for="bio">tell us about yourself</label>
        <textarea class="form-control" rows="5" name="bio" form="update"></textarea>
        <hr>
      </div>
      <div class="col-md-6">
      <label for="hobbies">what interests you?</label>
      <input type="text" class="form-control" placeholder="Enter your interests..." name="hobbies">
      <hr>
      <label for="telephone">enter your telephone number (optional)</label>
      <input type="text" class="form-control" placeholder="Enter your telephone number" name="telephone">
      <hr>
      </div>
      <div class="btn-div">
      <input type="submit" value="update" class="btn btn-primary language-submit-btn">
      </div>
    </form>
    </div>
  </div>

<% include ../partials/footer.ejs %>