<% include ../partials/header-main.ejs %>
<div class="col-md-6">

  <h1>login</h1>

<% include ../partials/alerts.ejs %>
  <hr>
  <form class="form" method="post" action="/auth/login">
    <input type="text" class="form-control" value="testtesttest@test.com" name="email">
    <br><br>
    <input type="password" class="form-control" value="testtest" name="password">
    <br><br>
    <input type="submit" value="sign up" class="btn btn-primary">
  </form>

  <h4> or </h4>
  <h2> login with facebook </h2>
  <a href="/auth/login/facebook">Login with Facebook</a>
</div>
<% include ../partials/footer.ejs %>