<% include ../partials/header-main %>
<body class="index-body">
<div class="container-fluid">
<div class="row indexrow">
    <div class="col-md-12 text-center">
    <h1 class="title">speak to me</h1>

<% include ../partials/alerts.ejs %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center valign">
    <a href="/auth/signup" class="signup-button">sign up</a>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4 text-center valign">
    <a href="#" class="signup-button">about us</a>
  </div>
</div>
</body>

<% include ../partials/footer %>